<table border="0" cellspacing="0" cellpadding="3" style="WIDTH: 186px; HEIGHT: 314px">
  <tbody>
    {{#each navItems}}
        <tr>
          <td><img width="30" height="12" src="picture_library/logosmall.jpg" /></td>
          <td><a id="menuitem" href="{{page}}.html">{{name}}</a></td>
        </tr>
    {{/each}}
    <tr>
      <td colspan="2" height="240">&nbsp;</td> <!-- Spacer to take up height -->
    </tr>
  </tbody>
</table>
